USE [master]
GO
/****** Object:  Database [QuanLyQuanCafe]    Script Date: 9/30/2025 5:50:27 PM ******/
CREATE DATABASE [QuanLyQuanCafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyQuanCafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.NGANVU\MSSQL\DATA\QuanLyQuanCafe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyQuanCafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.NGANVU\MSSQL\DATA\QuanLyQuanCafe_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyQuanCafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyQuanCafe]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](100) NOT NULL,
	[passWord] [nvarchar](100) NOT NULL,
	[type] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dateCheckIn] [datetime] NOT NULL,
	[dateCheckOut] [datetime] NULL,
	[idTable] [int] NOT NULL,
	[idAccount] [int] NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillInfo]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idBill] [int] NOT NULL,
	[idDrink] [int] NOT NULL,
	[count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DrinkCategory]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrinkCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drinks]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drinks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[idCategory] [int] NOT NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DrinkTable]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrinkTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[status] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (N'Ngân') FOR [userName]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [passWord]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [type]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT (getdate()) FOR [dateCheckIn]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[BillInfo] ADD  DEFAULT ((0)) FOR [count]
GO
ALTER TABLE [dbo].[DrinkCategory] ADD  DEFAULT (N'Chưa đặt tên') FOR [name]
GO
ALTER TABLE [dbo].[Drinks] ADD  DEFAULT (N'Chưa đặt tên') FOR [name]
GO
ALTER TABLE [dbo].[Drinks] ADD  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[Drinks] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[DrinkTable] ADD  DEFAULT (N'Bàn chưa có tên') FOR [name]
GO
ALTER TABLE [dbo].[DrinkTable] ADD  DEFAULT (N'Trống') FOR [status]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([idTable])
REFERENCES [dbo].[DrinkTable] ([id])
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([idAccount])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[BillInfo]  WITH CHECK ADD FOREIGN KEY([idBill])
REFERENCES [dbo].[Bill] ([id])
GO
ALTER TABLE [dbo].[BillInfo]  WITH CHECK ADD FOREIGN KEY([idDrink])
REFERENCES [dbo].[Drinks] ([id])
GO
ALTER TABLE [dbo].[Drinks]  WITH CHECK ADD FOREIGN KEY([idCategory])
REFERENCES [dbo].[DrinkCategory] ([id])
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteBillInfo]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DeleteBillInfo] @idBill int, @idFood int
as
begin
	delete BillInfo where idBill =@idBill and idDrink =@idFood 
	declare @i int=0
	select @i=count(*) from BillInfo where idBill =@idBill 
	if (@i=0)
		delete Bill where id=@idBill 
end
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAccountByUserName]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetAccountByUserName]
@userName nvarchar(100)
as
begin
select*from Account where userName=@userName 
end
GO
/****** Object:  StoredProcedure [dbo].[USP_GetBillByDate]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetBillByDate] @dateCheckIn datetime, @dateCheckOut datetime
as
select b.id idBill, b.dateCheckIn , b.dateCheckOut , t.name nameTable, 
case
	when b.status = 1 then N'Hoàn thành'
	when b.status = 2 then N'Hủy'
end statusBill
, s.total   from Bill b, DrinkTable t, 
(select bf.idBill , sum( f.price * bf.count) total from Drinks f, BillInfo bf 
where f.id=bf.idDrink and bf.idBill in (select id from Bill where status !=0) group by bf.idBill ) s
where b.idTable =t.id and b.id=s.idBill and b.dateCheckIn between @dateCheckIn and @dateCheckOut and b.dateCheckOut between @dateCheckIn and @dateCheckOut
GO
/****** Object:  StoredProcedure [dbo].[USP_GetBillById]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetBillById] @idBill int
as
select b.id idBill, b.dateCheckIn , b.dateCheckOut , t.name nameTable, 
case
	when b.status = 1 then N'Hoàn thành'
	when b.status = 2 then N'Hủy'
end statusBill
, s.total   from Bill b, DrinkTable  t, 
(select bf.idBill , sum( f.price * bf.count) total from Drinks f, BillInfo bf 
where f.id=bf.idDrink and bf.idBill in (select id from Bill where status != 0) group by bf.idBill ) s
where b.idTable =t.id and b.id=s.idBill and b.id =@idBill 

GO
/****** Object:  StoredProcedure [dbo].[USP_GetBillList]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetBillList]
as
select b.id idBill, b.dateCheckIn , b.dateCheckOut , t.name nameTable,
case
	when b.status = 1 then N'Hoàn thành'
	when b.status = 2 then N'Hủy'
end statusBill
, s.total   from Bill b, DrinkTable t, 
(select bf.idBill , sum( f.price * bf.count) total from Drinks f, BillInfo bf 
where f.id=bf.idDrink and bf.idBill in (select id from Bill where status !=0) group by bf.idBill ) s
where b.idTable =t.id and b.id=s.idBill
GO
/****** Object:  StoredProcedure [dbo].[USP_GetDrinkByIdBill]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetDrinkByIdBill] @idBill int
as 
select f.name, bf.count, f.price, (bf.count *f.price) total 
from Drinks f, bill b, BillInfo bf 
where f.id =bf.idDrink and bf.idBill =b.id and 
b.id =@idBill AND b.status !=0
GO
/****** Object:  StoredProcedure [dbo].[USP_GetDrinkByIdCategory]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_GetDrinkByIdCategory]
@idCategory integer
as
SELECT*FROM Drinks where idCategory =@idCategory 
GO
/****** Object:  StoredProcedure [dbo].[USP_GetDrinkByIdTable]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_GetDrinkByIdTable] @idTable int
as
select f.name, bf.count, f.price, (bf.count *f.price) total 
from Drinks f, bill b, BillInfo bf 
where f.id =bf.idDrink and bf.idBill =b.id and 
b.idTable =@idTable AND b.status =0
GO
/****** Object:  StoredProcedure [dbo].[USP_GetDrinkCategoryList]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_GetDrinkCategoryList] 
as 
select*from DrinkCategory  
GO
/****** Object:  StoredProcedure [dbo].[USP_GetTableAndTotalById]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GetTableAndTotalById] @id int
as 
select t.id ,t.name , t.status ,
 case when x.total is null then '' else x.total end total
 from DrinkTable t right join (SELECT b.idTable, b.id, sum(f.price*bf.count) total 
 FROM Drinks f join BillInfo bf on f.id =bf.idDrink 
join Bill b on bf.idBill =b.id 
where b.status =0 and b.idTable =@id
group by b.idTable, b.id) x on t.id =x.idTable

GO
/****** Object:  StoredProcedure [dbo].[USP_GetTableList]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetTableList]
as select*from DrinkTable 
GO
/****** Object:  StoredProcedure [dbo].[USP_GetTableListAndTotal]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GetTableListAndTotal]
as 
select t.id ,t.name , t.status ,
 case when x.total is null then '' else x.total end total
 from DrinkTable t left join (SELECT b.idTable, b.id, sum(f.price*bf.count) total 
 FROM Drinks f join BillInfo bf on f.id =bf.idDrink  
join Bill b on bf.idBill =b.id 
where b.status =0
group by b.idTable, b.id) x on t.id =x.idTable
GO
/****** Object:  StoredProcedure [dbo].[USP_GetUnCheckBillByTableId]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[USP_GetUnCheckBillByTableId] @idTable int
as
select * from bill where idtable=@idTable and status=0
GO
/****** Object:  StoredProcedure [dbo].[USP_GetUnCheckQuantityDrinkByIdBill]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetUnCheckQuantityDrinkByIdBill] @idBill int
as
select top(1) f.id, f.name, (f.quantity -b.count) count from Drinks f, BillInfo b where f.id=b.idDrink and b.idBill =@idBill order by f.id


GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBill]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_InsertBill] @idTable int, @idAccount int
as 
insert into Bill (idTable , idAccount) values(@idTable , @idAccount)
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBillInfo]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[USP_InsertBillInfo] @idBill int, @idFood int, @count int 
as
declare @idBillInfo int, @countFood int
begin
	select @idBillInfo =id, @countFood =count from BillInfo where idBill =@idBill and idDrink =@idFood 
	if (@idBillInfo >0)
		begin
			declare @newCount int
			set @newCount =@countFood +@count 
			if (@newCount >0)
				update BillInfo set count=@newCount where id=@idBillInfo 
			else
			begin
				delete BillInfo where id=@idBillInfo
				declare @i int=0
				select @i=count(*) from BillInfo where idBill =@idBill 
				if (@i=0)
					delete Bill where id=@idBill 
			end
		end
	else
		insert into BillInfo (idBill ,idDrink , count) values(@idBill , @idFood , @count )
end
GO
/****** Object:  StoredProcedure [dbo].[USP_Login]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_Login]
@userName nvarchar(100), @passWord nvarchar(100)
as
begin
	select * from Account where userName=@userName and passWord=@passWord
end
GO
/****** Object:  StoredProcedure [dbo].[USP_PayMent]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_PayMent] @idBill int
as
declare @i int =0
update Bill set status=1, dateCheckOut =GETDATE () where id=@idBill 
select @i=count(*)-1 from  Drinks f, BillInfo b where f.id=b.idDrink and b.idBill =@idBill 
while @i >= 0
begin
	declare @idFood int, @count int
	select @idFood = f.id, @count= (f.quantity -b.count)  from Drinks f, BillInfo b where f.id=b.idDrink and b.idBill =@idBill 
	order by f.id offset @i ROWS FETCH NEXT 1 ROWS ONLY
	update Drinks set quantity=@count where id=@idFood 
	set @i-=1
end
GO
/****** Object:  StoredProcedure [dbo].[USP_ShareTable]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_ShareTable] @new_idbill int, @old_idbill int, @newCount int, @oldCount int, @idfood int
as
declare @idbillinfo int =0
select @idbillinfo=id from billinfo where idbill=@new_idbill and idDrink =@idfood
if(@idbillinfo=0)
begin
	if (@newCount=@oldCount)
		update billinfo set idbill=@new_idbill where idbill=@old_idbill and idDrink=@idfood
	else 
	begin
		insert into billinfo (idbill,idDrink,count) values (@new_idbill, @idfood, @newCount)
		update billinfo set count=@oldCount-@newCount where idbill=@old_idbill and idDrink=@idfood
	end
end
else
begin
	if(@newCount=@oldCount)
	begin
		update billinfo set count=count+@newCount where id=@idbillinfo
		delete BillInfo where idbill=@old_idbill and idDrink=@idfood
	end
else
begin
	update billinfo set count=@newCount where idbill=@new_idbill and idDrink=@idfood
	update billinfo set count=@oldCount-@newCount where idbill=@old_idbill and idDrink=@idfood
end
end
GO
/****** Object:  StoredProcedure [dbo].[USP_SwichTable]    Script Date: 9/30/2025 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SwichTable] @newIdTable int, @oldIdTable int, @newStatus nvarchar(100)
as
begin
	declare @newIdBill int, @oldIdBill int
	if (@newStatus =N'Trống')
	begin
		select @newIdBill =id from Bill where idTable =@oldIdTable 
		update DrinkTable set status =N'Trống' where id=@oldIdTable 
		update DrinkTable set status =N'Có người' where id=@newIdTable 
		update Bill set idTable =@newIdTable where id=@newIdBill 
	end
	else
	begin
		select @newIdBill =id from Bill where idTable =@newIdTable  and status =0
		select @oldIdBill =id from Bill where idTable =@oldIdTable  and status =0
		update BillInfo set idBill = @newIdBill where idBill =@oldIdBill 
		delete Bill where idTable =@oldIdTable and status =0
	end
end 
GO
USE [master]
GO
